<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <style>
        *{
            margin: 0;
            padding: 0;
            list-style: none;
        }

        nav{
            height: 15vh;
            width: 80%;
            padding-left: 10%;
            padding-right: 10%;
            background-color:#A9B5DF;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        nav ul{
            display: inline-flex;
            gap: 3rem;
            font-size: 1.5rem;
        }

        main{
            height: 85vh;
            width: 80%;
            padding-left: 10%;
            padding-right: 10%;
            background-color: #FFF2F2;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .img{
            height:90%;
            padding-left:5%;
            padding-right:5%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color:#A9B5DF;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
        
        .details{
            height:90%;
            padding-left:5%;
            padding-right:5%;
            width: 50%;
            background-color:#FFF2F2;
            display: flex;
            align-items:start;
            flex-direction: column;
        }

        .n{
            font-size: 2rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
        }

        .b{
            font-size:1.2rem;
        }
        
        .details h3{
            margin-top: 1.2rem;
            font-size: 1.8rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .details h3 span{
            font-size: 1.3rem;
            text-decoration: line-through;
        }

        .des{
            margin-top:0.5rem;
            font-size: 1.2rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .cat{
            margin-top:0.5rem;
            font-size: 1.5rem;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .btns{
            height: 15%;
            width: 100%;
            margin-top: 2rem;
        }

        .btns button{
            height: 100%;
            width: 48%;
            border-radius: 2rem;
            font-size: 1.5rem;
            outline: none;
            border:2px solid #A9B5DF;
            background-color: #2D336B;
            color: #FFF2F2;
        }

        a{
            outline: none;
            color: black;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <h1>LOGO</h1>
        <ul>
            <li><a href="http://localhost:3000/shop">Home</a></li>
            <li>Shop</li>
            <li>Conatct</li>
            <li>Log In</li>
        </ul>
    </nav>

    <main>
        <div class="img" style="background-image: url('<%= data.image %>');"></div>
        <div class="details">
            <h2 class="n"><%= data.name %></h2>
            <p class="b"><%= data.brand %></p>
            <h3><span>$39999</span>  $<%= data.price %></h3>
            <p class="des"><%= data.description %></p>
            <p class="cat">Category:<%= data.category%></p>
            <p class="cat">current stock:<%= data.stock %></p>
            <div class="btns">
                <button>Buy Now</button>
                <button>Add To Cart</button>
            </div>
        </div>
    </main>
</body>
</html>